@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  /*Typography*/
  /*Fonts*/
  --font-title: "Roboto", sans-serif;
  --font-content: "Montserrat", serif;

  /*Colors*/
  --colorWhite: #fff;
  --colorBlack: #000;
  --colorYellowLight: #ecebe4;
  --colorYellowLightDark30: #a5a5a0;
  --colorVioletRussian: #3d2b56;
  --colorVioletRussianLight50: #9e95ab;
  --colorRedTomato: #d87a6b;
  --colorRedTomatoLight30: #e4a297;
}

* {
  /*Box-model*/
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  /*Typography*/
  font-family: var(--font-content);
  font-size: 16px;
}
html,
body {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;

  /*box-model*/
  width: 100vw;
  height: 100vh;
  background-color: var(--colorVioletRussianLight50);
  color: var(--colorWhite);
}

.flexbox {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.fullWidth {
  width: 100%;
}

#main {
  /*box-model*/
  margin: auto;
  width: 100%;
  max-width: 400px;
  background-color: var(--colorVioletRussian);
  padding: 50px 40px;
  border-radius: 8px;

  /*Display Stuff*/
  align-items: center;
  gap: 20px;
}

aside {
  display: inline;
}

.button {
  /*box-model*/
  width: 104px;
  padding: 8px 16px;
  background-color: var(--colorRedTomato);
  border: none;
  border-radius: 4px;

  /*typography*/
  font-family: var(--font-title);
  font-weight: 400;
  color: var(--colorBlack);
}

.button:hover {
  /*box-model*/
  background-color: var(--colorRedTomatoLight30);
  cursor: pointer;
}
#buttonReset {
  /*Box-model*/
  background-color: var(--colorYellowLight);
}

#buttonReset:hover {
  /*Box-model*/
  background-color: var(--colorYellowLightDark30);
}

h1 {
  /*Typography*/
  font-family: var(--font-title);
  font-size: 20px;
}

/*Section input*/
.containerInput {
  /*Display stuff*/
  position: relative;
  z-index: 10;
}

.input {
  /*box-model*/
  max-width: 160px;
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  outline: none;
  /*typography*/
  font-size: 12px;
}
.inputPercentage {
  /*box-model*/
  max-width: 48px;
  padding: 5px;
}

/*Dialog box*/

.modal {
  /*Display stuff*/
  position: absolute;
  top: 25%;
  left: 18%;
  z-index: 10;

  /*box-model*/
  width: 100vw;
  max-width: 232px;
  padding: 10px;
  border: 1px solid var(--colorBlack);
  border-radius: 8px;
}

.containerAlert.flexboxRow,
.modalHeader.flexboxRow {
  /*Display stuff*/
  flex-direction: row;
}
.containerAlert.flexboxRow {
  /*Display stuff*/
  gap: 10px;
}

.modalHeader.flexboxRow {
  /*Display stuff*/
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 100%;
}

.imageAlert {
  width: 16px;
  height: 16px;
  background-image: url(../images/perigo.png);
  background-repeat: no-repeat;
  background-position: center;
}

/*Button*/
.buttonModal {
  /*box-model*/
  width: 24px;
  height: 24px;
  background-color: var(--colorWhite);
  border: none;

  /*Display stuff*/
  align-items: center;

  /*typography*/
  color: var(--colorBlack);

  /*Geral settings*/
  cursor: pointer;
  transition: 0.3s;
}
.buttonModal:hover {
  /*box-model*/
  background-color: var(--colorYellowLightDark30);
}

.titleAlert {
  /*Typography*/
  font-size: 12px;
  font-weight: 600;
  color: var(--colorBlack);
}

.messageAlert {
  /*Typography*/
  font-size: 12px;
  color: var(--colorBlack);
}

/*Section output of Carr*/
#outputCar {
  /*box-model*/
  padding: 10px;
  border: 1px solid var(--colorWhite);
}

@media screen and (min-width: 400px) {
  .flexboxRow {
    flex-direction: row;
  }

  .input {
    /*typography*/
    font-size: 16px;
  }
  .alert {
    /*Typography*/
    font-size: 10px;
  }
}
