@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  /*Typography*/
  /*Fonts*/
  --font-title: "Roboto", sans-serif;
  --font-content: "Montserrat", serif;

  /*Colors*/
  --color-white: #fff;
  --color-black: #000;
  --color-purple: purple;
}

* {
  /*Box-model*/
  margin: 0px;
  padding: 0px;

  /*Typography*/
  font-family: var(--font-content);
  font-size: 16px;
}
body {
  /*box-model*/
  background-color: var(--color-purple);
  color: var(--color-white);
}

.flexbox {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.fullWidth {
  width: 100%;
}

#main {
  /*box-model*/
  margin: auto;
  margin-top: 5%;
  max-width: 400px;

  /*Display Stuff*/
  align-items: center;
  gap: 20px;
}

aside {
  display: inline;
}

.button {
  /*box-model*/
  width: 104px;
  padding: 8px 16px;
  background-color: var(--color-white);
  border: none;
  border-radius: 4px;

  /*typography*/
  font-family: var(--font-title);
  font-weight: 500;
}

.button:hover {
  /*box-model*/
  background-color: aquamarine;
  cursor: pointer;
}

h1 {
  /*Typography*/
  font-family: var(--font-title);
  font-size: 20px;
}

/*Section input*/
.input {
  /*box-model*/
  max-width: 160px;
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  outline: none;
}

/*Section output of Carr*/
#outputCarr {
  /*box-model*/
  padding: 10px;
  border: 1px solid var(--color-white);

}
