@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap");

:root {
  /*Typography*/
  /*Fonts*/
  --font-title: "Roboto", monospace;
  --font-content: "Roboto Mono", monospace;

  /*Colors*/
  --colorWhite: #fff;
  --colorBlack: #000;
  --colorGray: #333;
  --colorGrayLight: #666;
  --colorYellow: #fd4;
  --colorRedLight40: #db4d4d;
  --colorRedDarkLight: #ff6666;
  --colorBlueLight: #92dce5;
}

* {
  /*Box-model*/
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  /*Typography*/
  font-family: var(--font-content);
  font-size: 20px;
}

body {
  /*Box-model*/
  background-color: var(--colorGray);
  color: var(--colorWhite);
}

#main {
  max-width: 600px;
  margin: 50px auto;
}

.flexbox {
  /*Box model*/
  width: 100%;

  /*Display stuff*/
  display: flex;
  gap: 10px;
}

.flexboxRow {
  /*Display stuff*/
  flex-direction: row;
  align-items: center;
}

#containerHeader {
  /*box-model*/
  max-width: 420px;
  padding: 0px 10px;

  /*Display stuff*/
  flex-direction: row;
  gap: 30px;
}

#containerLogo {
  /*Box model*/
  width: 240px;
}

svg {
  /*Box-model*/
  width: 40px;
  height: 40px;
  fill: var(--colorYellow);
}

#containerInput {
  /*Box model*/
  width: 296px;
  gap: 20px;
}

#containerSelect {
  /*display stuff*/
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.title {
  /*Box-model*/
  color: var(--colorYellow);

  /*Typography*/
  font-family: var(--font-title);
  font-size: 32px;
}

.list {
  /*box-model*/
  width: 60px;
  padding: 4px 8px;
  background-color: var(--colorWhite);
  border-radius: 4px;
  outline: none;

  /*typography*/
  font-size: 16px;
}

#containerTimer {
  /*display stuff*/
  display: none;
}
label {
  /*typograph*/
  font-size: 14px;
}

#paragraph {
  /*Box model*/
  margin-top: 20px;
  padding: 0 10px;
}

.button {
  /*box-model*/
  width: 96px;
  padding: 8px 16px;
  background-color: var(--colorWhite);
  border: none;
  border-radius: 4px;

  /*typography*/
  font-family: var(--font-title);
  font-weight: 500;
  font-size: 12px;
  color: var(--colorBlack);
}

.button:hover {
  /*box-model*/
  background-color: var(--colorYellow);
  cursor: pointer;
}

#buttonRestart {
  /*box model*/
  background-color: var(--colorWhite);

  /*display stuff*/
  display: none;
}

#buttonRestart:hover {
  /*box model*/
  background-color: var(--colorRedLight40);
  color: var(--colorWhite);

  /*display stuff*/
  display: none;
}

#game {
  /*box-model*/
  margin-top: 40px;
  height: 112px;
  line-height: 40px;
  overflow: hidden;
  opacity: 1;
}

#game.over {
  /*box-model*/
  opacity: 0.5;
}

#words {
  /*Display stuff*/
  display: inline-block;

  /*position stuff*/
  position: relative;

  /*box-model*/
  padding: 0px 20px;
  color: var(--colorWhite);
}
.word {
  /*Display stuff*/
  display: inline-block;

  /*typography*/
  margin: 0px 10px;
}

#cursor {
  /*display stuff*/
  display: block;

  /*box-model*/
  width: 2px;
  height: 24px;
  background-color: var(--colorYellow);
  position: fixed;
  top: 8px;
  left: 20px;

  /*animations*/
  animation: blink 1s infinite;
}

/*Letter styles*/
.letter {
  /*box-model*/
  color: var(--colorWhite);
}
.letter.correct {
  /*box-model*/
  color: var(--colorBlueLight);
}
.letter.incorrect {
  /*box-model*/
  color: var(--colorRedLight40);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Modal*/
.modal {
  /*Display stuff*/
  position: absolute;
  top: 20%;
  left: 25%;
  z-index: 10;
  gap: 20px;

  /*box-model*/
  width: 100vw;
  max-width: 320px;
  padding: 20px 10px;
  border: 1px solid var(--colorBlack);
  border-radius: 8px;
}

/*Container  Alert*/
.containerAlert {
  justify-content: flex-start;
  gap: 20px;
}

/*Button*/
#buttonModal {
  /*box-model*/
  width: 48px;
  background-color: var(--colorWhite);
  color: var(--colorBlack);

  /*Display stuff*/
  align-items: center;

  /*Geral settings*/
  cursor: pointer;
  transition: 0.3s;
}

#iconeX {
  /*box-model*/
  width: 28px;
  height: 28px;
  fill: var(--colorBlack);
}

#iconeX:hover {
  /*box-model*/
  fill: var(--colorRedDarkLight);
}

.imageCelebration {
  /*box model*/
  width: 32px;
  height: 32px;
  background-image: url(../images/congratulation.png);
  background-repeat: no-repeat;
  background-position: center;
}

#containerMessage {
  /*box model*/
  margin-top: 20px;
}

#alertMessage {
  /*typograph*/
  font-size: 20px;
  color: var(--colorRedDarkLight);
}
