@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap");

:root {
  /*Typography*/
  /*Fonts*/
  --font-title: "Roboto", monospace;
  --font-content: "Roboto Mono", monospace;

  /*Colors*/
  --colorWhite: #fff;
  --colorBlack: #000;
  --colorGray: #333;
  --colorGrayLight: #666;
  --colorYellow: #fd4;
  --colorRedLight40: #db4d4d;
  --colorBlueLight: #92dce5;
}

* {
  /*Box-model*/
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  /*Typography*/
  font-family: var(--font-content);
  font-size: 20px;
}

body {
  /*Box-model*/
  background-color: var(--colorGray);
  color: var(--colorWhite);
}

main {
  max-width: 600px;
  margin: 50px auto;
}

.flexbox {
  /*Display stuff*/
  display: flex;
  gap: 10px;
}

#containerTitle {
  /*box-model*/
  padding: 0px 10px;
}

#column1 {
  /*Display stuff*/
  justify-content: space-between;
  align-items: center;
}

.title {
  /*Box-model*/
  color: var(--colorYellow);

  /*Typography*/
  font-family: var(--font-title);
  font-size: 32px;
}

svg {
  /*Box-model*/
  width: 40px;
  height: 40px;
  fill: var(--colorYellow);
}

.button {
  /*box-model*/
  width: 96px;
  padding: 8px 16px;
  background-color: var(--colorWhite);
  border: none;
  border-radius: 4px;

  /*typography*/
  font-family: var(--font-title);
  font-weight: 500;
  font-size: 12px;
  color: var(--colorBlack);
}

.button:hover {
  /*box-model*/
  background-color: var(--colorYellow);
  cursor: pointer;
}

#game {
  /*box-model*/
  margin-top: 40px;
  height: 112px;
  line-height: 40px;
  overflow: hidden;
}

#words {
  /*Display stuff*/
  display: inline-block;

  /*box-model*/
  padding: 0px 20px;
  color: var(--colorWhite);

  /*typography*/
  word-spacing: 10px;
}

.word {
  /*Display stuff*/
  position: relative;
}

#cursor {
  /*box-model*/
  width: 2px;
  height: 24px;
  background-color: var(--colorYellow);
  position: absolute;
  top: 136px;
  left: 32px;

  /*animations*/
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lettler.correct {
  /*typography*/
  color: var(--colorBlueLight);
}

.lettler.incorrect {
  /*typography*/
  color: var(--colorRedLight40);
}
