@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto&display=swap");

:root {
  /*Typograph*/
  --font-content: "Montserrat", sans-serif;
  --font-title: "Roboto", monospace;

  /*colors*/
  --colorWhite: #fff;
  --colorBlack: #000;
  --colorOrange: #ec4e20;
  --colorOrangeDark: #d17a22;
  --colorGray: #4d4d4d;
}
